@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Noto+Nastaliq+Urdu:wght@700&display=swap');body {
    font-family: 'Montserrat', sans-serif;
}

/* Variable */
$base_background_light: #282A29;
$base_background_dark: #2C2E2D;
$color_gold: #D6AC86;
$color_white: #FFFFFF;
/* Variable */

/* Html tag */
body {
  padding: 0px !important;
  background-color: $base_background_light !important;
}

ul {
  margin: 0px !important;
}

ul,
li {
  font-size: 12px;
  padding: 20px;
  color: $color_white;
  font-weight: lighter;
  list-style: none;

  @media screen and (min-width: 769px) {
    font-size: 36px;
  }
}

p {
  margin: 0px !important;
  letter-spacing: 2px;
}

button {
  all: unset;
}
/* Html tag */

/* common */
.w-80 {
  width: 90% !important;
  margin: 0 auto;
}

.fs-xs {
  font-size: 24px;
}

.fs-sm {
  font-size: 28px;
}

.fs-md {
  font-size: 36px;
}

.fs-lg {
  font-size: 48px;
}

.fc-1 {
  color: $color_gold;
}

.fc-2 {
  color: $color_white;
}

.font-style-1 {
  font-size: 28px;
  color: $color_gold;
  font-weight: lighter;
}

.font-style-2 {
  font-size: 36px;
  color: $color_white;
}

.font-style-3 {
  font-size: 24px;
  color: $color_white;
  font-weight: lighter;
}

.button-gold {
  padding: 10px 20px;
  background-color: $color_gold;
  color: $color_white;
  border-radius: 5px;
}

.button-outline-gold {
  padding: 10px 20px;
  background-color: transparent;
  color: $color_gold;
  border-radius: 5px;
}

.line {
  width: 50px;
  border-bottom: 2px solid $color_gold;
}

.border-left-gold {
  border-left: 2px solid $color_gold;
}

.space {
  height: 150px;
}

/* common */

/* Banner */
.banner-container {
  position: relative;
  background: #000000;
  overflow: hidden;

  
  & img {
    object-fit: cover;
    opacity: 0.45;
  }
}

.banner-text {
  color: $color_white;
  font-weight: lighter;
  position: absolute;
  top: 40%;
  left: 65%;
  z-index: 1;
  letter-spacing: 3px;
}
/* Banner */

/* About */
.about-container {
  width: 90%;
  margin: 0 auto;

  & img {
    border-radius: 15px;
  }
}

.about-data {
  width: 100%;
  border-radius: 20px;
  min-height: 200px;
  background-color: $base_background_dark;
}
/* About */

/* Skills */
.skills-container {
  width: 90%;
  margin: 0 auto;
}

.skills-select {
  cursor: pointer;
  p {
    color: #F5DEC8;
  } 
}

.skills-select.selected {
  p {
    color: $color_gold;
  } 
}

.skills-grid {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  @media screen and (min-width: 769px) {
    grid-template-columns: repeat(6, 1fr);
  }
}
/* Skills */

/* Projects */
.skills-container {
  width: 90%;
  margin: 0 auto;
}
.projects-card {
  padding: 20px;
  min-height: 350px;
  background-color: $base_background_dark;
  border-radius: 15px;

  & img {
    border-radius: 15px;
  }
}
/* Projects */

/* Services */
.services-container {
  width: 90%;
  margin: 0 auto;
}
/* Services */


// li {
//   padding: 2px 5px;
//   margin: 0 2px;
//   cursor: pointer;

//   &:hover {
//     color: $base_color;
//   }

//   @media screen and (min-width: 769px) {
//     padding: 10px 20px;
//     margin: 0 5px; 
//   }
// }

// li.selected {
//   color: $base_color;
//   border-bottom: 1.5px solid $base_color;
  
// }


// .section-header {
//   font-size: 14px;
//   padding: 3px 16px;
//   border-bottom: 2px solid $base_color;

//   @media screen and (min-width: 769px) {
//     font-size: 36px;
//     padding: 12px 36px;
//     border-bottom: 3px solid $base_color;
//   }
// }


// .skills-container {
//   padding: 10px 20px;
//   font-weight: lighter;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
  
//   @media screen and (min-width: 769px) {
//     grid-template-columns: repeat(6, 1fr);
//   }
// }

// .w-60 {
//   width: 60%;
// }

// .font-icon {
//   height: 14px !important;
//   width: 14px !important;

//   @media screen and (min-width: 769px) {
//     height: 32px !important;
//     width: 32px !important;
//   }
// }

// .carousel-control-next-icon {
//   margin-right: -200%;
//   background-image: url('../icon/right-arrow.png') !important;
// }

// .carousel-control-prev-icon {
//   margin-left: -200%;
//   background-image: url('../icon/left-arrow.png') !important;
// }

// .vertical-line-right {
//   position: absolute;
//   left: 50%;
//   border-left: 2px solid $base_color;
//   min-height: 30px;

//   @media screen and (min-width: 769px) {
//     border-left: 3px solid $base_color;
//   }
// }



// .col-6 {
//   padding: 0px;
// }
