@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Noto+Nastaliq+Urdu:wght@700&display=swap');body {
    font-family: 'Montserrat', sans-serif;
}

$base_color: #FF602E;

p {
  font-weight: lighter;
  margin-bottom: 0px !important;
}

button {
  all: unset;
}

ul,
li {
  font-size: 12px;
  color: #737373;
  font-weight: lighter;
  list-style: none;

  @media screen and (min-width: 769px) {
    font-size: 24px;
  }
}

ul {
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
}

li {
  padding: 2px 5px;
  margin: 0 2px;
  cursor: pointer;

  @media screen and (min-width: 769px) {
    padding: 10px 20px;
    margin: 0 5px;  }
}

li.selected {
  color: $base_color;
  border-bottom: 1.5px solid $base_color;
}

.button-white-outline {
  padding: 3px 6px;
  font-size: 12px;
  font-weight: lighter;
  color: white;
  border: 1px solid;
  border-radius: 8px;

  &:hover {
    color: $base_color;
  }
  
  @media screen and (min-width: 769px) {
    padding: 6px 36px;
    font-size: 24px;
    border: 2px solid;
    border-radius: 15px;
  }
}

.button-orange {
  z-index: 1;
  padding: 4px 18px;
  font-weight: lighter;
  font-size: 12px;
  background-color: $base_color;
  color: white;
  border-radius: 6px;

  @media screen and (min-width: 769px) {
    padding: 12px 36px;
    font-size: 24px;
    border-radius: 15px;
  }
}

.banner-container {
  position: relative;
  background: #454545;
  overflow: hidden;

  .banner-text {
    position: absolute;
    z-index: 1;
    top: 40%;
  }

  & img {
    object-fit: cover;
    opacity: 0.3;
  }
}

.fs-24 {
  font-size: 12px;
  font-weight: lighter;

  @media screen and (min-width: 769px) {
    font-size: 24px;
  }
}

.fs-36 {
  font-size: 14px;

  @media screen and (min-width: 769px) {
    font-size: 28px;
  }
}

.fs-48 {
  font-size: 16px;

  @media screen and (min-width: 769px) {
    font-size: 48px;
  }
}

.color-orange {
  color: $base_color;
}

.color-white {
  color: white;
}

.section-gray {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F2F2F2;

  @media screen and (min-width: 769px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.section-header {
  font-size: 14px;
  padding: 3px 16px;
  border-bottom: 2px solid $base_color;

  @media screen and (min-width: 769px) {
    font-size: 36px;
    padding: 12px 36px;
    border-bottom: 3px solid $base_color;
  }
}

.container-1 {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;

  @media screen and (min-width: 769px) {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

.container-2 {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;

  @media screen and (min-width: 769px) {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

.skills-container {
  padding: 10px 20px;
  font-weight: lighter;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  @media screen and (min-width: 769px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.w-80 {
  width: 80%;
}

.font-icon {
  height: 14px !important;
  width: 14px !important;

  @media screen and (min-width: 769px) {
    height: 32px !important;
    width: 32px !important;
  }
}

.carousel-control-next-icon {
  margin-right: -200%;
  background-image: url('../icon/right-arrow.png') !important;
}

.carousel-control-prev-icon {
  margin-left: -200%;
  background-image: url('../icon/left-arrow.png') !important;
}
    