@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Noto+Nastaliq+Urdu:wght@700&display=swap');body {
    font-family: 'Montserrat', sans-serif;
}

/* Variable */
$base_background_light: #282A29;
$base_background_dark: #2C2E2D;
$color_gold: #D6AC86;
$color_white: #FFFFFF;
/* Variable */

/* Html tag */
body {
  padding: 0px !important;
  background-color: $base_background_light !important;
}

ul {
  margin: 0px !important;
  padding: 0px !important;
}

ul,
li {
  padding: 10px;
  color: $color_white;
  font-weight: lighter;
  list-style: none;
  
  @media screen and (min-width: 769px) {
    margin: 15px;
  }
}

p {
  margin: 0px !important;
  letter-spacing: 1px;

  @media screen and (min-width: 576px) {
    letter-spacing: 2px;
  }
}

button {
  all: unset;
}
/* Html tag */

/* common */
.w-90 {
  width: 90% !important;
  margin: 0 auto;
}

.fs-xs {
  font-size: 12px;

  @media screen and (min-width: 769px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}

.fs-sm {
  font-size: 14px;

  @media screen and (min-width: 769px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 28px;
  }
}

.fs-md {
  font-size: 18px;

  @media screen and (min-width: 769px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.fs-lg {
  font-size: 48px;
}

.fc-1 {
  color: $color_gold;
}

.fc-2 {
  color: $color_white;
}

.button-gold {
  padding: 10px 20px;
  max-width: 100px;
  background-color: $color_gold;
  color: $color_white;
  border-radius: 5px;

  @media screen and (min-width: 769px) {
    padding: 7px 14px;
  }

  @media screen and (min-width: 992px) {
    padding: 10px 20px;
    max-width: 150px;
  }
}

.button-outline-gold {
  padding: 10px 20px;
  background-color: transparent;
  color: $color_gold;
  border-radius: 5px;

  @media screen and (min-width: 769px) {
    padding: 7px 14px;
  }

  @media screen and (min-width: 992px) {
    padding: 10px 20px;
  }
}

.line {
  width: 50px;
  border-bottom: 2px solid $color_gold;
}

.border-left-gold {
  border-left: 2px solid $color_gold;
}

.space {
  height: 60px;

  @media screen and (min-width: 769px) {
    height: 100px;
  }

  @media screen and (min-width: 1200px) {
    height: 150px;
  }
}

.line-height {
  line-height: 1rem;
  
  @media screen and (min-width: 769px) {
    line-height: 1.5rem;
  }

  @media screen and (min-width: 992px) {
    line-height: 2.5rem;
  }
}

.display-desktop {
  position: relative;

  @media screen and (max-width: 769px) {
    display: none !important;
  }
}

.display-mobile {
  position: relative;

  @media screen and (min-width: 769px) {
    display: none !important;
  }
}

/* common */

/* Navigation */
.nav-container {
  width: 90%;
  margin: 0 auto;
}
/* Navigation */

/* Banner */
.banner-container {
  position: relative;
  background: #000000;
  overflow: hidden;

  
  & img {
    object-fit: cover;
    opacity: 0.45;
  }
}

.banner-text {
  color: $color_white;
  font-weight: lighter;
  position: absolute;
  top: 40%;
  left: 25%;
  z-index: 1;
  letter-spacing: 3px;

  @media screen and (min-width: 576px) {
    left: 40%;
  }
  
  @media screen and (min-width: 769px) {
    left: 50%;
  }

  @media screen and (min-width: 992px) {
    left: 60%;
  }

  @media screen and (min-width: 1200px) {
    left: 60%;
  }
}
/* Banner */

/* About */
.about-container {
  width: 90%;
  margin: 0 auto;
  

  & img {
    border-radius: 15px;
  }
}

.about-data {
  width: 100%;
  border-radius: 20px;
  min-height: 150px;
  background-color: $base_background_dark;

  @media screen and (min-width: 1200px) {
    min-height: 200px;
  }

  @media screen and (min-width: 1500px) {
    min-height: 300px;
  }
}

.about-data-text {
  position: absolute;
  height: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* About */

/* Skills */
.skills-container {
  width: 90%;
  margin: 0 auto;
}

.skills-select {
  cursor: pointer;
  p {
    color: #F5DEC8;
  } 
}

.skills-select.selected {
  p {
    color: $color_gold;
    font-weight: normal;
  } 
}

.skills-grid {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  @media screen and (min-width: 769px) {
    grid-template-columns: repeat(6, 1fr);
  }
}
/* Skills */

/* Projects */
.skills-container {
  width: 90%;
  margin: 0 auto;
}
.projects-card {
  padding: 20px;
  min-height: 200px;
  background-color: $base_background_dark;
  border-radius: 15px;

  & img {
    border-radius: 15px;
  }
}
/* Projects */

/* Services */
.services-container {
  width: 90%;
  margin: 0 auto;
}
/* Services */

// .font-icon {
//   height: 14px !important;
//   width: 14px !important;

//   @media screen and (min-width: 769px) {
//     height: 32px !important;
//     width: 32px !important;
//   }
// }

// .carousel-control-next-icon {
//   margin-right: -200%;
//   background-image: url('../icon/right-arrow.png') !important;
// }

// .carousel-control-prev-icon {
//   margin-left: -200%;
//   background-image: url('../icon/left-arrow.png') !important;
// }
